body {
  background-image: url("../img/bgo-studio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.landing {
  height: 60vh;
  padding-top: 20vh;
}
